/* orange labs styling for S5 slides */

body, div#header {
    background: white url(logo-orange-80.png) no-repeat scroll 8px 8px;
}

div#header, div#footer {
    color: white;
}

div#footer {
    background: #FE6600 none repeat scroll 0 0;
}

#controls #navLinks a {
    background: transparent none repeat scroll 0 0;
    color: lightgrey;
}

.slide h1 {
    background: transparent none repeat scroll 0 0;
    color: #FE6600;
}

#slide0 {
    margin-top: 3em;
}

#currentSlide {
    color: lightgrey;
}

